.App {
  text-align: center;
}

.App header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App .App-title {
  font-size: 1.5em;
}

.App p {
  color: #191919;
  font-size: 1em;
  text-align: center;
  margin: 0; 
  padding-bottom: 20px;
}

.galleryList{
  display:flex; gap: 10px;
  flex-wrap: wrap;
  padding-left: 20px;
}

.oneItem{
  background-color: white;
  border: 1px solid #191919;
  width: 300px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
}

button{
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: green;
  color: white;
}

.imageText{
  height: 200px;
}